h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 1000;

}
header{
    background-color: #0062ff;
    border-radius: 15px;
    border: solid 30px #0062ff;
    margin: 50px 50px;
    margin-bottom: 100px;
}
header{
    color:#262626;
    transition: 0.3s;
}
header:hover{
    color:white;
    transition: 0.3s;
}
body{
    background-color: #262626;
}
section{
    color:azure;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
}
hr{
    margin-top: 50px;
}
.copy{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 75%;
    border: solid #0062ff;
    border-radius: 15px;
    text-align: center;
    background-color: #0062ff;
    font-size: 25px;
    color:#262626;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: azure;
    margin: 50px 50px;
    font-size: 30px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #00ffee, #0062ff,#0062ff, #262626, #262626);
    padding-left: 230px;
    font-size: 25px;
    color: #262626
}
.odpoved{
    color: azure;
    margin-left: 200px;
    margin-right: 200px;    
border-left: solid 4px azure;
border-right: solid 4px azure;
border-top: solid 2px #262626;
border-bottom: solid 2px #262626;
    border-radius: 25px;
    transition: 0.5s;
}
.odpoved:hover{
    border-left: solid 8px #00ffee;
    border-right: solid 8px #00ffee;
    border-top: solid 2px #00ffee;
    border-bottom: solid 2px #00ffee;
    transition: 0.5s;
}
.odpovedp{
    color:azure;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}
table, td , th{
    margin: auto auto;
    border-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
table {
    border: 4px solid transparent;
    background-image: linear-gradient(to right,#00ffee, #0062ff);
    background-origin: border-box;
}
td, th{
    background-color: #262626;
    padding: 5px 50px;
    font-size: 20px;
}